{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}
Expense Tracker - New Budget
{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center align-items-center">
<div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <h1 class="mb-3">Add a Budget</h1>
        <hr class="mb-3">
        <form action="{% url 'budget_submit'%}" method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
        <input type="submit" class="btn btn-lg btn-success text-center mt-3" value="Add Budget">
        </form>
    </div>
</div>
</div>

{% endblock %}