{% extends 'base.html' %}

{% block title%}
Expense Tracker - {{ budget.name }}
{% endblock %}

{% block content %}
<h2>{{ user|title }}'s {{ budget.name }} Budget</h2>
<form action="{% url 'budget' %}" >
  <input type="submit" class="btn btn-success mt-3" value="< Back to Budgets" />
</form>

<div class='container'>
  <div class='detail col-sm-12 py-2'>

      <form action="" method="post">
        {% csrf_token %}
        {{ month.as_p }}
      </form>
<div class="row">
  <div class='col-sm-6 mt-2'>
    <i class="fas fa-chart-pie"></i><b>&nbsp Pie Chart</b>
    <canvas id="pie-chart" data-url="{% url 'table' budget.id test%}"></canvas>

  </div>
  <div class='col-sm-6 mt-2'>
    <i class="fas fa-table"></i><b>&nbsp Table Summary</b>
    <div id="table" data-url="{% url 'table' budget.id test%}">
      <table class="table table-striped">
      <thead>
        <tr><th>Category</th><th>Amount</th></tr>
      </thead>
        <tbody></tbody>
      </table>
    </div>
    <p><a href="{% url 'table_detail' budget.id%}" class="float-right">Edit Purchase History</p></a>
  </div>

  <div class='col-sm-12 py-5'>
    <i class="fas fa-chart-line"></i><b>&nbsp Graph</b>
    <div id="container" style="width: 100%;">
      <canvas id="chart" data-url="{% url 'chart' budget.id test%}"></canvas>
    </div>
  </div>
<script>

$("#id_month").change(function(){
  let month = $('#id_month').val();
  renderChart(month);
  renderTable(month)
});

function renderTable(month) {
  var $table = $("#table");
  var $pieChart = $("#pie-chart")
  if (!month) {
    var month_url = $table.data("url")
  } else {
    $("#table").attr("data-url", $table.data("url").slice(0, $table.data("url").lastIndexOf('/') + 1) + month)
    var month_url = $table.attr("data-url")
  }
  $.ajax({
    url: month_url,
    type:"GET",
    dataType: 'json',
    success: function(data){
      $("#table tbody").empty()
      data.data.forEach(function(item){
        $("#table tbody").append(
          '<tr><td>' + item.category__name +
          '</td><td>' + item.total + 
          '</td></tr>' 
        )
      })
      let ctx = $pieChart[0].getContext("2d");
      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: data.labels,
          datasets: [{
            data: data.chart,
            backgroundColor: [
            '#809bce', '#95b8d1', '#6FB3B8', '#d6eadf', '#eac4d5'
            ],
            label: 'Total'
          }]
        },
        options: {
          responsive: true,
          legend:{
            display: true,
            position: 'bottom'
          }
        }

      })
    }
  })
}

function renderChart(month) {
  var $chart = $("#chart");
  if (!month) {
    var month_url = $chart.data("url")
  } else {
    $("#chart").attr("data-url", $chart.data("url").slice(0, $chart.data("url").lastIndexOf('/') + 1) + month)
    var month_url = $chart.attr("data-url")
  }
  $.ajax({
    url: month_url,
    success: function (data) {
      var ctx = $chart[0].getContext("2d");
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: data.labels,
          datasets: [{
            label: 'Amount',
            borderColor: '#6FB3B8',
            backgroundColor:'rgb(111, 179, 184, 0.3)',
            data: data.data
          }]          
        },
        options: {
          responsive: true,
          legend: {
            position: 'top',
          },
          scales: {
            xAxes:[{
              scaleLabel:{
                display: true,
                labelString:'Date'
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString:'Amount ($)'
              }
            }]
          },
          title: {
            display: true,
            text: 'Spending per month'
          }
        }
      });
    }
  });
}
$(".detail").css({"padding-left": 0, "padding-right": 0})
$(renderChart())
$(renderTable())
</script>
{% endblock %}