{% extends 'base.html' %}
{% block title%}
Expense Tracker - Budget
{% endblock %}

{% block content %}

<h2>{{ user|title }}'s Budget</h2>
<div class="container">
  {% for budget in budgets %}
  <div class="jumbotron">
    <a href="{% url 'detail' budget.id%}">
    
      <span class="title text-center"><h3>{{ budget.name }}</h3></span>
    </a>
  </div>
    {% endfor %}
    
    <div class="jumbotron">
    <a href="#"><span class="title text-center" id="create-budget"><h3><i class="fas fa-plus"></i>&nbsp; Add a Budget</h3></span></a>
    </div>
    <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {      
          $("#create-budget").modalForm({
              formURL: "{% url 'budget_create' %}",
              modalID:"#create-modal"
          });      
      });
      </script>
{% endblock %}

