{% extends 'base.html' %}
{% block title%}
Expense Tracker - Budget
{% endblock %}

{% block content %}

<h2>{{ user|title }}'s Budget</h2>
<div class="container">
  {% for budget in budgets %}
  <div class="jumbotron">
    <a href="{% url 'detail' budget.id%}">
    
      <span class="title text-center"><h3>{{ budget.name }}</h3></span>
    </a>
    </div>
    {% endfor %}
    <a href="{% url 'budget_create' %}">
      <div class="jumbotron">
      <span class="title text-center"><h3><i class="fas fa-plus"></i>&nbsp; Add Budget</h3></span>
</div>


{% endblock %}

