{% extends 'base.html' %}
{% block title%}
Expense Tracker - Purchase History
{% endblock %}

{% block content %}
<i class="fas fa-table mb-4"></i><b>&nbsp Purchase history for {{budget}}</b>
  <div id="purchase" class="mb-4">
      <form action="{% url 'detail' budget.id%}" >
          <input type="submit" class="btn btn-success" value="< Back to Dashboard" />
      </form>
      <form action="{% url 'purchase_create' budget.id%}">
          <input type="submit" class="btn btn-success" value="Add a purchase" />
      </form>
  </div>
      <table class="table table-striped">
          <thead>
              <tr><th>User</th><th>Date</th><th>Amount</th><th>Category</th><th>Retailer</th><th>Notes</th><th></th><th></th></tr>
          </thead>
          <tbody>
              {% for purchase in budget.purchase_set.all %}
              <tr>
                  <td>{{purchase.user|title}}</td>
                  <td>{{purchase.date}}</td>
                  <td>{{purchase.amount}}</td>
                  <td>{{purchase.category}}</td>
                  <td>{{purchase.retailer}}</td>
                  <td>{{purchase.notes}}</td>
                  <td><a href="{% url 'purchase_delete' purchase.id%}"><i class="fas fa-trash-alt"></i></a></td>
                  <td><a href="{% url 'purchase_update' purchase.id%}"><i class="fas fa-edit"></i></a></td>
              </tr>
              {% endfor %}
          </tbody>
      </table>

{% endblock %}
