{% extends 'base.html' %}
{% block title%}
Expense Tracker - Login
{% endblock %}
{% load socialaccount %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center py-5">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="jumbotron text-center user-form">
        {% if user.is_authenticated %}

            <h3 class="mb-5">You are logged in as {{ user|title }} </h3>
            <form action="{% url 'budget' %}">
                <input type="submit" value ="View my budgets" class="btn btn-success btn-lg btn-block mb-5 budget">
            </form>
            <form action="{% url 'account_logout' %}">
                <input type="submit" value ="Log Out" class="btn btn-success btn-lg btn-block mb-4">
            </form>
        {% else %}
        <form method="post" action="{% url 'account_login' %}">
            <h3 class="mb-5">LOGIN</h3>
            {{ form.non_field_errors }}
            {% csrf_token %}
            <div class="form-outline mb-4">
                {{ form.login.errors}}
                {{ form.login }}
                <label for="{{ form.login.id_for_label }}">Username</label>{{ login }}
            </div>
            <div class="form-outline mb-4">
                {{ form.password.errors}}
                {{ form.password }}
                <label for="{{ form.password.id_for_label }}">Password</label>{{ password }}
            </div>
            <input type="submit" class="btn btn-success btn-lg btn-block mb-4" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <p class="text-center fw-bold mb-4"> ------- OR ------- </p>
        <a href="{% provider_login_url 'google' %}" class="btn btn-lg btn-block btn-primary google "><i class="fab fa-google me-2"></i>CONTINUE WITH GOOGLE</A>
        <a href="{% provider_login_url 'facebook' %}" class="btn btn-lg btn-block btn-primary facebook mb-3"><i class="fab fa-facebook-f me-2"></i>CONTINUE WITH FACEBOOK</A>

        <p>Do not have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
        </form>
        {% endif %}



<script>
$(":input").not(":last, :eq(3), :eq(5), .budget").addClass('form-control form-control-lg');
$("label").addClass("form-label")
$(".user-form").css({"backgroundColor": "white", "border-color":"#6FB3B8", "border-width":"2px", "border-style":"solid"})
</script>
{% endblock %}

