<!DOCTYPE html>
</body>
</html>
<html>
    <head>
    </head>
    <body>
        <div style="text-align:center;">
            <h2>Hello {{ user_name }}</h2>
            <h2>{{ subject }}</h2>
            <a href="https://{{ url }}">{{url}}</a>
            <form action="https://{{ url }}">
                <p>
            <button type="submit" 
                style="background:#6FB3B8; color:#ffffff; border: none; border-radius: .3rem; padding: .625rem 1.5rem .5rem">
                CLICK TO JOIN
            </button>
            </form>
        </div>
    </body>
</html>