{% extends 'base.html' %}
{% block title%}
Expense Tracker - Home
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2><b>Expense Tracker</h2></b>
    <hr>
    <p class="index-text">Platform to monitor and manage your individual or household expenses - for free!</p>
    <form action="{% url 'login' %}">
      <input type="submit" value ="JOIN US TODAY" class="btn btn-success btn-lg">
    </form>
</div>
<div class="jumbotron">
    <p>About us</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error doloribus, dicta accusantium non odio adipisci tempore nisi officiis temporibus ullam quibusdam, ex cupiditate. Eligendi praesentium natus facilis dolores veniam facere?</p>
</div>

<div class="container">
    <h3><strong>Invite Someone</strong></h3>
    {% if messageSent%}
    <div class="container">
        <h3><strong>Success!</strong></h3>
        <p>Invitation was sent to {{ form.cleaned_data.recipient }}</p>
      </div>
    {% else %}
    <form action="{% url 'email'%}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <div class="text-center">
        <input
          type="submit"
          class="btn btn-success"
          style="width: 100%"
          value="Send e-mail"
        />
      </div>
    </form>
    {% endif %}
  </div>
{% endblock %}